#map_container {
    height: calc(100vh - var(--navbar_height));
    margin-top: calc(var(--navbar_height));
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#map_container svg {
    display: block;
    height: 100%;
    width: 100%;
}

#map_container svg path {
    fill: var(--constituency_colour, white);
    stroke: black;
    stroke-width: calc(5px / 2);

    stroke-linejoin:round;
    stroke-miterlimit:1;
}

#map_container svg path:hover {
    filter: brightness(0.6);
    transition: filter 0.5s;
}

#infobox {
    background-color: var(--navbar_colour);
    color: #DDDDDD;

    width: 22%;
    min-width: 185px;
    height: auto;
    min-height: 90px;

    position: absolute;
    right: 5%;
    top: calc(var(--navbar_height) * 2);

    border: 2px solid #696969;
    border-radius: 10px;
}

@media only screen and (max-width: 885px) {
    #infobox { background-color: green; } /* this is a placeholder */
}

#infobox_title {
    margin: 15px;
    font-size: 25px;
    font-weight: normal;
}

#infobox p:empty, #infobox img:empty {
    display: none;
}