#infobox {
    background-color: var(--navbar_colour);
    color: #DDDDDD;

    width: 22%;
    min-width: 185px;
    height: auto;
    min-height: 90px;

    position: absolute;
    right: 5%;
    top: calc(var(--navbar_height) * 2);

    border: 2px solid #696969;
    border-radius: 10px;
}

@media only screen and (max-width: 1150px) {
    #infobox {
        display: none; /* this is a placeholder */
    }
}

#infobox_title {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

#infobox p:empty, #infobox img:empty {
    display: none;
}

#infobox p:not(:first-child) {
    margin: 5px 15px;
}

#infobox p:last-child {
    margin-bottom: 15px;
}