#infobox {
    background-color: var(--secondary_colour);
    color: var(--text_colour);

    width: 22%;
    min-width: 185px;
    height: auto;

    position: absolute;
    right: 5%;
    top: calc(var(--navbar_height) * 2);

    border: 2px solid var(--highlight_colour);
    border-radius: 10px;
}

@media only screen and (max-width: 1150px) {
    #infobox {
        display: none; /* this is a placeholder */
    }
}

#infobox_title {
    margin: 15px;
    min-height: 60px;

    font-size: 25px;
    font-weight: bold;

    display: flex;
    align-items: center;
}

#infobox p:empty,
#infobox img[src=""] {
    display: none;
}

#infobox #infobox_mp_img {
    display: none; /* display is mostly changed by js, but this is just the default value */

    width: 50px;

}

#infobox p:not(:first-child) {
    margin: 5px 15px;
}

#infobox p:last-child {
    margin-bottom: 20px;
}