:root {
    --background_colour: #181818;
    --secondary_colour: #282828;
    --highlight_colour: #696969;
    --text_colour: #DDDDDD;
    --constituency_colour: white;

    --navbar_height: 40px;
    --navbar_button_spacing: 30px;
    --infobox_spacing: 15px
}

* {
    font-family: "Lato", sans-serif;
}

.text_centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background_colour);
    overflow: hidden;
}

#navbar {
    background-color: var(--secondary_colour);
    border-bottom: 2px solid var(--highlight_colour);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--navbar_height);

    display: flex;
    padding-left: var(--navbar_button_spacing);
}

.navbar_button {
    background-color: var(--secondary_colour);

    height: 80%;
    margin-top: calc(var(--navbar_height) / 10);
    margin-right: var(--navbar_button_spacing);

    text-decoration: none;
    color: var(--text_colour);
}