:root {
    --background_colour: #181A1B;
    --navbar_colour: #282828;

    --navbar_height: 40px;
    --navbar_button_spacing: 30px;
}

* {
    font-family: "Lato", sans-serif;
}

.text_centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background_colour);
    overflow: hidden;
}

#navbar {
    background-color: var(--navbar_colour);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--navbar_height);

    display: flex;
    padding-left: var(--navbar_button_spacing);
}

.navbar_button {
    background-color: var(--navbar_colour);
    /*background-color: red;*/

    height: 80%;
    margin-top: calc(var(--navbar_height) / 10);
    margin-right: var(--navbar_button_spacing);

    text-decoration: none;
    color: white;
}